.bg-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #d235c6 76%);
}
.btn-primary {
    background-color: #d610c6 !important;
    border: #881e81 solid 1px;
}
.btn-primary:hover {
    background-color: #881e81 !important;
    border: #881e81 solid 1px;
}